<?xml version="1.0"?>
<configuration>
	<connectionStrings>
        <add name="FB.Integration.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_integrationsystem;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Integration System" />
        <add name="FB.Service.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_servicesystem;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Business System" />
        <add name="FB.Accounting.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_accountingsystem;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Accounting System" />
        <add name="FB.Settlement.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_settlementsystem;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Accounting System" />
        <add name="Portal.Api.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_portal;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Fitbank Portal" />
        <add name="FB.CnabIO.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_cnabio;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Fitbank Portal" />
        <add name="FB.Broker.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=T1_fb_broker;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Fitbank Portal" />
    </connectionStrings>
	<appSettings>
	</appSettings>
</configuration>