<?xml version="1.0"?>
<configuration>
	<connectionStrings>
        <add name="FB.Integration.Con" providerName="System.Data.SqlClient" connectionString="Data Source=dataSource;Initial Catalog=fb_integrationsystem;User ID=userID;Password=pwd;Pooling=True;Connect Timeout=180; Application Name=Integration System" />
    </connectionStrings>
	<appSettings>
	</appSettings>
</configuration>